agm-map {
  height: 500px;
}

.current-place {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
}

span.jx-close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
}
